* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: #3E54AC;
    padding: 20px 0;
    top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    
}

nav {
    position: sticky;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

nav ul li {
    font-size: large;
}

nav ul a{
    text-decoration: none;
    color: #e1e1e1;
    transition: color 0.5s ease;
}

nav ul a:hover {
    background-color: #82C3EC;
}

body {
    background-color: #ECF2FF;
}

.container-content {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.container-head {
    display: flex;
    justify-content: center;
    width: 1200px;

}

#home-sosmedIcon img {
    display: inline;
    width: 100px;
    padding-right: 50px;
    padding-top: 20px;
}

#home-img img{
    width: 250px;
    border-radius: 15px;
    
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 80%;
    box-shadow:  5px 10px 8px 10px #e1e1e1;
    border-radius: 15px;
    padding: 50px;
}

#home p {
    line-height: 1.5;
    inline-size: 500px;
    overflow-wrap: break-word;
}

.container-content-about {
    display: flex;
    justify-content: center;
    height: 800px;

}

.container-about {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    width: 1000px;
    
}

#about {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow:  5px 10px 8px 10px #e1e1e1;
    border-radius: 15px;
    padding: 15px;
}

#about-me{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

#about-me p {
    line-height: 1.5;
    inline-size: 500px;
    overflow-wrap: break-word;
}

#Skills {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;

}

#Skills ul li {
    list-style: none;
    line-height: 1.5;
}

#projects {
    padding: 50px;
    box-shadow:  5px 10px 8px 10px #e1e1e1;
    border-radius: 15px;
    margin: 50px;
}

.container-content-pro {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.container-projects {
    padding: 25px;
}

#projects-content1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

#projects-content1 img {
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

#projects-description {
    padding-left: 50px;
}

#projects-description h3{
    text-align: center;
}

#projects-description p{
    line-height: 1.5;
    inline-size: 500px;
    overflow-wrap: break-word;
}

.projects-language ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding : 25px 0;
    font-weight: bold;
}

.projects-language ul li {
    color: #4B56D2;
}

#projects-content2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 25px;
}

#projects-content2 img {
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

.row-card {
    display: flex;
    justify-content: center;
}

.container{
    width: 1200px;
    box-shadow: 5px 10px 8px 10px #e1e1e1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.content {
    width: 1200px;
}

.container .content{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;

    justify-content: space-between;
}
.content .box{
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.content .box .deskripsi p {
    text-align: center;
}


.container-contact {
    display: flex;
    justify-content: center;
    box-shadow:  5px 10px 8px 10px #e1e1e1;
    margin: 50px;
    border-radius: 15px;
}

.content-contact {
    width: 1090px;

    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 1400px;
}

.contact {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 15px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    padding:25px;
    width: 1400px;
    color: white;
}

.container-footer {
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: center;
}

.footer-social {
    display: flex;
    gap: 25px;
}








